<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <title>Welcome to Cowville</title>
  </head>
  <body>
    <header>

      <nav ng-controller="NavAppController as navAppCtrl">
        <ul>
          <li ng-repeat="route in navAppCtrl.routes">
            <a href="{{ link.url }}">{{ route.name }}</a>
          </li>
        </ul>
      </nav>

    </header>
    <main>
      <section
        class="container"
        ng-controller="CowsayAppController as cowsayAppCtrl"
        ng-init="cowsayAppCtrl.current = 'squirrel'">

        <h2>{{ cowsayAppCtrl.title }}</h2>

        <pre>
          {{ cowsayAppCtrl.update(cowsayAppCtrl.text) }}
        </pre>

        <form
          ng-submit="cowsayAppCtrl.speak(cowsayAppCtrl.text)"
          name="cowsayAppForm"
          novalidate>
          <select ng-model="cowsayAppCtrl.current">
            <option ng-repeat="cowfile in cowsayAppCtrl.cowfiles" value="{{ cowfile }}">
              {{ cowfile }}
            </option>
          </select>

          <input type="text" ng-model="cowsayAppCtrl.text" required>
          <button type="submit">Speak!</button>

          <div ng-show="cowsayAppCtrl.spoken" class="history">
            <pre>
              {{ cowsayAppCtrl.spoken }}
            </pre>
            <button type="button" ng-click="cowsayAppCtrl.undo()">Undo!</button>
          </div>

        </form>

      </section>
    </main>
  </body>
</html>
