// <<<< $vars >>>>

$brand-primary: #2a2a2a;
$btn-primary: #888888;
$btn-hover: #ff6666;
$black: #000;
$white: #fff;
$box-std: 40%;
$box-sm: $box-std / 2;
$box-lg: $box-std * 2;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;
$gutter-lg: $gutter-std * 2;
$ctr: 0 auto;
$pad-reg: 2%;

// <<<< global styles >>>>

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary;
}

header {
  color: $white;
  background: $black;
  padding: $pad-reg + 1%;
}

h1 {
  float: left;
}


h2 {
  color: $white;
  font-size: 3vw;
  text-align: center;
  margin-top: $gutter-std;
  margin-bottom: $gutter-std;
}

h3 {
  clear: both;
  color: $white;
  font-size: 2vw;
  margin-left: $gutter-lg;
  margin-bottom: 1%;
}

h4 {
  float: left;
  color: $white;
  font-size: 1.5vw;
  margin-left: $gutter-std + 2%;
  margin-bottom: 1%;
}

select {
  float: left;
  width: $box-sm;
  margin-left: $gutter-std + 2%;
  margin-bottom: $gutter-std;
}

input[type="text"] {
  float: left;
  width: $box-sm;
  border: none;
  border-radius: 3px;
  margin-left: $gutter-std + 2%;
  margin-bottom: $gutter-std;
}

button {
  float: left;
  width: $box-sm;
  background: $btn-primary;
  color: $white;
  border: none;
  border-radius: 3px;
  margin-left: $gutter-std + 2%;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

pre {
  width: $box-lg;
  margin: $ctr;
  font-family: monospace;
}

p {
  color: $white;
  padding: $pad-reg;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

// <<<< app styles >>>>

nav {
  width: 100%;
  text-align: right;

  li {
    display: inline;
    margin-left: 4vw;

    a {
      color: inherit;
      font-size: 1.5vw;
      text-decoration: none;

      &:hover {
        color: $btn-hover;
      }
    }
  }
}

.cow {
  color: $white;
}

.container {
  width: $box-lg + 10%;
  margin: $ctr;
}

.inner-contain {
  float: left;
  width: $box-std + 10%;
  height: 12em;
  overflow: auto;
  background: $black;
  margin-left: $gutter-std + 5%;
  margin-bottom: $gutter-std;
  border: $btn-hover ridge 1vw;
  border-radius: 3px;
  padding-bottom: $pad-reg;
}
