body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary;
}

h1 {
  float: left;
}

h2 {
  color: $white;
  font-size: 3vw;
  text-align: center;
  margin-top: $gutter-std;
  margin-bottom: $gutter-std;
}

h3 {
  clear: both;
  color: $white;
  font-size: 2vw;
  margin-left: $gutter-lg;
  margin-bottom: 1%;
}

h4 {
  float: left;
  color: $white;
  font-size: 1.5vw;
  margin-left: $gutter-std + 2%;
  margin-bottom: 1%;
}

p {
  color: $white;
  padding: $pad-reg;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

select {
  float: left;
  width: $box-sm;
  margin-left: $gutter-std + 2%;
  margin-bottom: $gutter-std;
}

input[type="text"] {
  float: left;
  width: $box-sm;
  border: none;
  border-radius: 3px;
  margin-left: $gutter-std + 2%;
  margin-bottom: $gutter-std;
}

button {
  float: left;
  width: $box-sm;
  background: $btn-primary;
  color: $white;
  border: none;
  border-radius: 3px;
  margin-left: $gutter-std + 2%;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

pre {
  width: $box-lg;
  margin: $ctr;
  font-family: monospace;
}

.cow {
  color: $white;
}
