<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <title>Sorry about the colors!</title>
  </head>
  <body>
    <main>
      <section class="container"
      ng-controller="cowsayController as cowsayCtrl"
      ng-init="cowsayCtrl.currentCow = 'default'">
        <h1 align=center>{{ cowsayCtrl.title }}</h1>
        <form
          ng-submit="cowsayCtrl.saveCow(cowsayCtrl.currentText)"
          name="cowsayForm"
          novalidate>
          <select ng-model="cowsayCtrl.currentCow">
            <option ng-repeat="cowfile in cowsayCtrl.cowfiles" value="{{ cowfile }}">
              {{ cowfile }}
            </option>
          </select>
          <input type="text" ng-model="cowsayCtrl.currentText">
          <button type="submit">Save this masterpiece</button><br>
        </form>
        <button ng-click="cowsayCtrl.undo()">Undo</button>

        <pre>
          {{ cowsayCtrl.currentArt() }}
        </pre>
        <hr>
          {{ cowsayCtrl.history }}

        <crazy-button ng-click="cowsayCtrl.logger(cowsayCtrl.currentText)">Log It!</button>

      </section>
      <section class="container" ng-controller="cowsayController as cowsayCtrl">
        <h2>Text preview area:</h2>
        <p class="text-binder">{{ cowsayCtrl.bindText }}</p>
        <input type="text" ng-model="cowsayCtrl.bindText">
      </section>
    </main>
  </body>
</html>
