<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <title>Cowception</title>
  </head>
  <body>
    <main>
      <section
      class="container"
      ng-controller="CowsayController as cowsayCtrl"
      ng-init="cowsayCtrl.current = 'squirrel'">
        <h2>{{cowsayCtrl.title}}</h2>

        <h3>Create a cow illustration.</h3>
        <div class="inner-contain">
          <pre class="cow">
            {{cowsayCtrl.update(cowsayCtrl.text)}}
          </pre>
        </div>

        <form
        ng-submit="cowsayCtrl.speak(cowsayCtrl.text)"
        name="cowsayForm"
        novalidate>
          <h4>Select a cowfile.</h4>
          <select ng-model="cowsayCtrl.current">
            <option ng-repeat="cowfile in cowsayCtrl.cowfiles" value="{{cowfile}}">
              {{cowfile}}
            </option>
          </select>

          <h4>Say moo?</h4>
          <input type="text" ng-model="cowsayCtrl.text" required>

          <h4>View it!</h4>
          <button type="submit">View!</button>

          <h3 ng-show="cowsayCtrl.spoken">Your cow illustration!</h3>
          <div ng-show="cowsayCtrl.spoken" class="inner-contain">
            <pre class="cow">
              {{cowsayCtrl.spoken}}
            </pre>
          </div>

          <h4 ng-show="cowsayCtrl.spoken">Trash it!</h4>
          <button
          ng-show="cowsayCtrl.spoken"
          type="button"
          ng-click="cowsayCtrl.undo()">Undo!</button>
        </form>
      </section>
    </main>
  </body>
</html>
