<!DOCTYPE html>
<html ng-app="cowApp">
  <head>
    <title>Test Cowsay App For 401 JS</title>
  </head>
  <body>
    <main>
      <section ng-init ="cowsayCtrl.currentCow = 'ghostbusters'" ng-controller="CowsayController as cowsayCtrl">
        <h2>{{cowsayCtrl.title}}</h2>

        <select ng-model="cowsayCtrl.currentCow">
          <option ng-repeat="cow in cowsayCtrl.cowfiles" value="{{cow}}">
            {{cow}}
          </option>
        </select>

        <pre>{{cowsayCtrl.speak(cowsayCtrl.message)}}</pre>

        <input type="text" ng-model="cowsayCtrl.message" placeholder="Who ya' gonna' call?">

        <pre ng-show="cowsayCtrl.history.length > 0">{{cowsayCtrl.speak(cowsayCtrl.message)}}</pre>
      </section>
    </main>
  </body>
</html>
