$margin-center: 0 auto;
$large-size: 5vw;
$h2-font: "Times New Roman", sans-serf;
$gutter-vert-std: 6%;
$light-grey: #ddd;
$border-std: 2px solid black;

h2 {
  font-size: $large-size;
  text-align: center;
  font-family: $h2-font;
}

pre {
  width: 30%;
  margin: $margin-center;
  font-family: Monospace;
  margin-bottom: $gutter-vert-std;
}

input {
  display: block;
  border: $border-std;
  width: 30%;
  background: $light-grey;
  margin: $margin-center;
}
