// :::: app styles ::::

nav {
  height: 3vw;
  background: $black;
  padding: 2vw;
  margin-bottom: $gutter-std;

  li {
    display: inline-block;
    margin-right: 3vw;

    a {
      font-size: 2vw;
      color: $white;
      text-shadow: 1px 1px 1px $btn-hover;
    }
  }
}

.container {
  width: 80%;
  margin-left: 10%;
}
