// ::: @mixin :::

@mixin box-shadow($x,$y,$blur,$spread,$color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

// ::: $vars :::

$brand-primary: #aaa;
$btn-primary: #072740;
$btn-hover: #31b1c1;
$black: #000;
$white: #fff;
$input-bg: #f2f2f2;
$nav-bg: #072740;


$box-std: 90%;
$half-cont: 50%;
$gutter-std: 5%;
$gutter-small: $gutter-std / 2;
$border-radius: 2px;

// ::: global styles :::

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary;
}

nav{

  width: 100%;
  background: $nav-bg;
  color: $white;
  @include box-shadow(2px, 2px, 2px, 1px, rgba(0, 0, 0, 0.2));
  h2{
    float:left;
    margin: $gutter-small/2;
    font-weight: bold;
  }
  ul{
    width: 100%;
    text-align: right;
  }
  li{
    display: inline-block;
    margin: $gutter-small;

    &:first-letter{
      text-transform: capitalize;
    }

    a{
      text-decoration: none;
      color: $white;
      font-weight: bold;
    }
  }
}

h2 {
  font-size: 4vw;
  font-weight: bold;
  text-align: left;
  margin-bottom: $gutter-small;
}
pre {
  float:left;
  font-family:monospace;
  width: $half-cont + 2.5;
  padding-left: 5%;
}

form{
  float:right;
  width: $half-cont - 13.5%;
  background: $input-bg;
  padding: $gutter-small;
  border: 1px dotted $brand-primary / .8;
  margin-bottom: $gutter-small;

  h3{
    margin-left: $gutter-std;
  }
}

button {
  font-size: 2vw;
  width: $box-std;
  padding: 2% 0;
  margin: $gutter-std;
  background: $btn-primary * 2;
  color: $white;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: 350ms all;
  margin-top: $gutter-small;


  &:hover{
    background: $btn-hover;
  }
}
input[type="text"] {
  border: none;
  border-radius: $border-radius;
  background: $white;
  margin: $gutter-small $gutter-std ($gutter-std * 2) ;
  width: $box-std;
}

select{
  margin: $gutter-small $gutter-std ($gutter-std * 2) ;
  width: $box-std;
  font-size: 2vw;
}


// ::: app styles :::

.container {
  float: left;
  width: $box-std;
  margin: 3%;
  padding: 2%;
  background: #fff;
  @include box-shadow(2px, 2px, 2px, 1px, rgba(0, 0, 0, 0.2));

}

.history{
  clear: both;
  h2{
    border-top: 1px solid $input-bg;
    padding-top: $gutter-small;
  }
  pre{
    width: $box-std;
    text-align: center;
  }
}
