/*** $vars ***/

$brand-primary: #444;
$btn-primary: $brand-primary / 2;
$btn-hover: #ff4da6;
$black: #333;
$white: #fff;
$green: #80BD50;
$box-std: 40%;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;

/*** global style ***/

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary * 3;
}

header {
  background: $green;
}

main {
  width: 80%;
  margin: 0 auto;
  min-width: 360px;
  max-width: 960px;
}

footer {
  font-size: 1vw;
  text-align: center;
  background: $green;
}

h2 {
  font-size: 3vw;
  text-align: center;
  margin-bottom: $gutter-std;
  text-transform: uppercase;
  color: #80BD50;
}

button {
  // float: right;
  // width: $box-std;
  // padding: 2% 0;
  background: $btn-primary / 3;
  color: $white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  // transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

input[type="text"] {
  // float: left;
  // width: $box-std + 10%;
  // margin-right: $gutter-std / 2;
  // padding: 2%;
  border: none;
  border: solid .1vw $black;
  border-radius: 3px;
}

select {

}

pre {
  font-family: monospace;
  margin: $gutter-std;
  padding: $gutter-std;
  background-color: $white;
}

.clearfix {
  clear: both;
}

/*** app styles ***/

div {
  // border: 1px solid orange;
  border: 1px lightgray solid;
  display: block;
}

pre {
  // width: $box-std;
  width: 60%;
  background: $white;
  // float: left;
  border: solid gray 1px;
  // height: 200px;
  float: left;
  display: block;
}

.to-the-right {
  width: 40%;
  display: block;
}

.preview {
  // width: 60%;
}

.container {
  // border: 1px solid red;
  // width: 60%;
  // width: 80%;
  // margin: auto;
}

.whole {
  width: $box-std * 2;
}

.spoken-block {
  all: unset;
}

.half-left {
  // width: $box-std;
  // float: left;
}

.half-right {
  // width: $box-std;
  border: solid gray 1px;
  vertical-align: top;
  // float: right;
  // float: right;
}

.form-element {
  display: block;
  border: solid 1px lightgray;
}

/* from lab 20 */
/*** app styles ***/

// .container {
//   float: left;
//   width: $box-std;
//   margin: 2%;
//   background: $white;
//   padding: 2%;
//   border: solid .1vw $black;
//   border-radius: 3px;
// }
//
// .text-binder {
//   height: 15vw;
//   font-size: 3vw;
//   margin: $gutter-std;
//   padding: 1vw;
//   color: $white;
//   background: $brand-primary / 2;
//   border: solid .25vw $brand-primary;
//   border-radius: 3px;
//
//   + input {
//     width: $box-std * 2;
//     margin: $gutter-std;
//   }
// }
