/*** $vars ***/

$brand-primary: #444;
$btn-primary: $brand-primary / 2;
$btn-hover: #ff4da6;
$black: #333;
$white: #fff;
$green: #80BD50;
$box-std: 40%;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;

/*** global style ***/

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary * 3;
}

header {
  background: $green;
}

main {
  width: 80%;
  margin: 0 auto;
  min-width: 360px;
  max-width: 620px;
}

footer {
  font-size: 1.2vw;
  font-color: $black / 3;
  text-align: center;
  background: $green;
  padding: $gutter-std;
}

h2 {
  font-size: 3vw;
  // text-align: center;
  margin: $gutter-std 0;
  text-transform: lowercase;
  color: #80BD50;
}

button {
  background: $btn-primary / 3;
  color: $white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 350ms all;
  text-transform: uppercase;
  // width: $box-std;
  // margin: $gutter-sm;

  &:hover {
    background: $btn-hover;
  }
}

input[type="text"] {
  border: none;
  border: solid .1vw $black;
  border-radius: 3px;
}

select {
  // TODO: style me
}

pre {
  font-family: monospace;
  // padding: $gutter-std;
  // margin: $gutter-std;
  background-color: $white;
  border: solid gray 1px;
}

div {
  border: 1px green solid;
}

p {
  margin: $gutter-sm;
}

ul {
  text-align: right;
}

li {
  display: inline-block;
  margin: $gutter-sm;
}

li a {
  text-decoration: none;
  font-size: 1.2vw;
  text-transform: uppercase;;
}

.clearfix {
  clear: both;
}

/*** app styles ***/


.spoken-block {
  all: unset;
}

.form-element {
  display: block;
  border: solid 1px blue;
  padding: $gutter-sm;
}

.preview {
  width: 60%;
  display: block;
  float: left;
  border: solid red 1px;
  background: $white;
  // margin: $gutter-std;
  // padding: $gutter-std;
}

.to-the-right {
  width: 30%;
  display: inline-block;
  padding: $gutter-sm;
}
