// ::: app styles :::

.container {
  float: left;
  width: $box-std;
  margin: 3%;
  padding: 2%;
  background: #fff;
  @include box-shadow(2px, 2px, 2px, 1px, rgba(0, 0, 0, 0.2));

}

.history{
  clear: both;
  h2{
    border-top: 1px solid $input-bg;
    padding-top: $gutter-small;
  }
  pre{
    width: $box-std;
    text-align: center;
  }
}
