<!DOCTYPE html>
<html ng-app='cowsayApp'>
  <head>
    <title>Straight Outta Cowville</title>
  </head>
  <body>
    <main>
      <section class="container" ng-controller="CowsayController">
        <h2>{{ cowsayCtrl.title}}</h2>
        <pre class="cow">
          {{ cowsayCtrl.speak(cowsayCtrl.text) }}
        </pre>
        <input type="text" ng-model="cowsayCtrl.text" />
        <button ng-click="cowsayCtrl.logger(cowsayCtrl.text)">Log It</button>

        <h2>Populate Second Pre Tag</h2>
        <pre class="cow">
          {{ cowsayCtrl.copiedText}}
        </pre>
        <button ng-click="cowsayCtrl.copyText(cowsayCtrl.text)">Populate</button>
        <button ng-click="cowsayCtrl.showLast(cowsayCtrl.copiedText)">Show Last</button>
      </section>

      <section class="container" ng-controller="CowsayController">
        <h2>Two Way Data Binding</h2>
        <p class="text-binder">{{cowsayCtrl.bindText}}</p>
        <input type="text" ng-model="cowsayCtrl.bindText" />
      </section>
    </main>
  </body>
</html>
