<!DOCTYPE html>
<html ng-app='cowsayApp'>
  <head>
    <title>Straight Outta Cowville</title>
  </head>
  <body>
    <main>
      <header>
        <nav ng-controller="NavController as navCtrl">
          <ul>
            <li ng-repeat="route in navCtrl.routes">
              <a href="{{route.url}}">{{route.name}}</a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="container" ng-controller="CowsayController as cowsayCtrl" ng-init="cowsayCtrl.current = 'default'">
        <h2>{{cowsayCtrl.title}}</h2>
        <pre class="cow">
          {{ cowsayCtrl.update(cowsayCtrl.text) }}
        </pre>

        <form name="cowsayForm" ng-submit="cowsayCtrl.speak(cowsayCtrl.text)" novaliate>
          <select ng-model="cowsayCtrl.current">
            <option ng-repeat="cowfile in cowsayCtrl.cowfiles" value="{{cowfile}}">
              {{cowfile}}
            </option>
          </select>

          <input type="text" ng-model="cowsayCtrl.text" required/>
          <button type="submit">Speak</button>
        </form>

        <div ng-show="cowsayCtrl.spoken" class="history">
          <h2>Moo Said What?</h2>
          <pre>
            {{cowsayCtrl.spoken}}
          </pre>
          <button type="button" ng-click="cowsayCtrl.undo()">Undo</button>
        </div>
      </section>
    </main>
  </body>
</html>
